body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif, Arial;
    margin: 0px;
    background: rgba(29, 23, 23, 0.815);
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 106px 50px auto 100px;
    grid-template-areas:
    "head head"
    "nav nav"
    "contentArea contentArea"
    "footer footer";
}
#header {
    grid-area: head;
    background: rgb(20, 20, 20);
}
#nav {
    grid-area: nav;
    background: rgba(20, 20, 20, 0.7);
    box-shadow: 0px 10px 20px rgba(255,255,255,.1);
    z-index: 10;
    text-align: center;
}
#youDidIt {
    position: fixed;
    top:200px;
    display: none;
}

#content {
    min-height: 500px;
    grid-area: contentArea;
    background: rgb(20, 20, 20);
}
#carousel {
    display: grid;
    grid-template-columns: 200px 500px 200px;
    grid-template-rows: 1fr 1fr 1fr 100px;
    height: 700px;
    width: 900px;
    grid-template-areas:
        ". mainPic ."
        "leftPic mainPic rightPic"
        ". mainPic ."
        "leftButton . rightButton";
    margin: auto;
}
#leftCell {
    grid-area: leftPic;
}
#mainCell {
    grid-area: mainPic;
}
#rightCell {
    grid-area: rightPic;
}
#leftPic, #mainPic, #rightPic {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
}
#leftPic {
    background-color: blue;
}
#mainPic {
    background-color: green;
}
#rightPic {
    background-color: red;
}

#leftButton, #rightButton {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 3px solid white;
    cursor: pointer;
    z-index: 10;
}
#leftButton {
    grid-area: leftButton;
    background-color: gray;
}
#rightButton {
    grid-area: rightButton;
    background-color: purple;
}

.villains {
    max-width: 400px;
    height: auto;
    margin: auto;
    display: block;
}
.navStick {
    position: fixed;
    top: 0;
    width: 100%;
}

.villains:hover {
    animation-name: borderStuff;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0.44, 0.84, 0.165);
}

@keyframes borderStuff {
    0% {
        box-shadow: 0px 0px 0px black;
    }
    50% {
        box-shadow: 0px 0px 20px white;
    }
    100% {
        box-shadow: 0px 0px 0px black;
    }
}

#footer {
    grid-area: footer;
    background: rgba(20, 20, 20, 0.7);
}

#header h1{
    height: 100%;
    padding-top: 6px;
    font-size: 4em;
    margin: 0px;
    text-align: center;
    color: white;
}

#nav a {
    text-decoration: none;
    color: white;
    height: 100%;
    font-size: 2em;
    min-width: 50px;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
}

#nav a:hover {
    animation-name: brighten;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes brighten {
    from {
        box-shadow: 0px 0px 0px gray;
        transform: scale(1.0);
    }
    to {
         box-shadow: 0px 10px 20px gray;
         transform: scale(1.1);
    }
}